/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@font-face {
  font-family: "pokeFont";
  src: url("fonts/Pokemon_Solid.ttf");
}

:root {
  font-size: 16px;
  /*Variables */
  --main-bg-color: #e4d2f7;
  --secondary-color: #4cfce1;
  --third-color: #f9f871;
  --fourth-color: #b3bee9;
  --main-font: "M PLUS Rounded 1c";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 1250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  height: 150px;
}

header .logo {
  color: #ffde00;
  font-family: "pokeFont";
  text-shadow: -3px -3px #3b4cca, 3px 3px #3b4cca;
  padding: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  text-align: center;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
}

header nav p {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0rem 0.5rem;
}

header nav ul button {
  background-color: transparent;
  font-family: var(--main-font);
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
  height: 2rem;
  width: 4rem;
  border: none;
  border-bottom: 3px solid transparent;
}

header nav ul button:hover {
  cursor: pointer;
  border-bottom: 3px solid #3b4cca;
}

.selectedRegion {
  border-bottom: 3px solid #3b4cca;
}

#pokedex {
  height: calc(100vh - 2rem - 150px);
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  align-items: center;
}

#pokeBox {
  /* width: 800px; */
  flex-grow: 7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem - 160px);
  overflow: auto;
  align-items: center;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#pokeBox::-webkit-scrollbar {
  display: none;
}

#pokeDescription {
  flex-grow: 3;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.description > p {
  margin: 0 auto;
}

.description {
  font-family: var(--main-font);
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 auto;
  width: calc(85% - 10px);
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: var(--fourth-color);
  color: black;
}

.pokeCard {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid transparent;
  border-radius: 25px;
  margin: 5px;
  height: 96px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeCard p {
  font-size: 1.2rem;
  width: 400px;
  text-align: start;
}

.pokeCard:hover {
  border: 3px solid royalblue;
  cursor: pointer;
}

.normal {
  background-color: #f6eac2;
}
.fire {
  background-color: #ff968a;
}
.fighting {
  background-color: #d4a094;
}
.water {
  background-color: #a2e1db;
}
.flying {
  background-color: #bcaaf3;
}
.grass {
  background-color: #ddf5c2;
}
.poison {
  background-color: #c770c7;
}
.electric {
  background-color: #ffe677;
}
.ground {
  background-color: #f7d67c;
}
.psychic {
  background-color: #ff7aa2;
}
.rock {
  background-color: #beac59;
}
.ice {
  background-color: #98d8d8;
}
.bug {
  background-color: #b6c440;
}
.dragon {
  background-color: #8b5bfc;
}
.ghost {
  background-color: #8169a8;
}
.dark {
  background-color: #63544b;
}
.steel {
  background-color: #c5c5dd;
}
.fairy {
  background-color: #f5b3c2;
}

.sprite {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto;
}

.artwork {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: -2px 1px 22px 6px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: -2px 1px 22px 6px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: -2px 1px 22px 6px rgba(0, 0, 0, 0.41);
}

.pokeDesc {
  text-align: center;
}

.pokeName {
  text-transform: capitalize;
}
.pokeData {
  text-transform: capitalize;
}
.typeBadge {
  border: 1px solid black;
  border-radius: 15px;
  display: inline-block;
  text-transform: capitalize;
  padding: 4px;
  height: auto;
  width: 5rem;
}

#selectPokemonForm {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.25em 0.25em;
  border: 0;
  text-transform: capitalize;
  text-align: center;
}

footer {
  height: 2rem;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  align-self: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #616161;
  border-color: #3b4cca transparent #3b4cca transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .container {
    min-width: 100vw;
  }
}

@media (max-width: 860px) {
  footer {
    display: none;
  }
  #pokedex {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #pokeBox {
    padding: 10px;
    flex-direction: column;
    height: calc(100vh - 160px);
  }

  #pokeDescription {
    width: 100vw;
    height: 550px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .description {
    text-align: center;
    width: 250px;
  }
}

@media (max-width: 630px) {
  /* .container {
    background-color: orangered;
  } */
  header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  header nav ul li {
    flex-basis: 21%;
  }
  header nav p {
    font-size: 1rem;
  }
  header nav ul button {
    font-size: 1rem;
  }

  #pokeDescription {
    width: 100vw;
    height: calc(100vh - 180px - 230px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #pokeBox {
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 230px;
    overflow: auto;
    justify-content: center;
  }

  .pokeCard {
    font-weight: bold;
    border: 3px solid transparent;
    border-radius: 25px;
    height: 120px;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pokeCard p {
    font-size: 0.8rem;
    text-align: center;
  }
  .description {
    text-align: center;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  header {
    height: 180px;
  }
  .artwork {
    width: 180px;
    height: 180px;
  }
}
