@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

:root {
  --main-bg-color: #e4d2f7;
  --secondary-color: #4cfce1;
  --third-color: #f9f871;
  --fourth-color: #B3BEE9;
  --main-font: "M PLUS Rounded 1c";
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "pokeFont";
  src: url("fonts/Pokemon_Solid.ttf");
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main-bg-color);
  flex-basis: 15vh;
  display: flex;
  border-bottom: 5px solid var(--fourth-color);
}

#pokeLogo {
  color: #ffde00;
  font-family: "pokeFont";
  text-shadow: -3px -3px #3B4CCA;
  width: 30%;
  text-align: center;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokeRegions {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px;
}

#pokeRegions > li {
  flex: 1 1 21%;
  list-style: none;
  text-align: center;
  margin: 3px;
  border-radius: 15px;
  border: 3px solid transparent;
}

#pokeRegions > li:hover {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bolder;
  border: 3px solid rgb(34, 31, 31);
  cursor: pointer;
}

.selectedRegion {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bolder;
  border: 3px solid black;
}

#pokedex {
  height: 75vh;
  display: flex;
  flex-direction: row;
}

#pokeBox {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  height:100%;
  overflow: auto;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#pokeBox::-webkit-scrollbar {
  display: none;
}

#pokeDescription {
  width: 30%;
  height: 100%;
  background-color: var(--main-bg-color);
  border-right: 5px solid var(--fourth-color);
}

.description > p {
  margin: 0 auto;
}

.description {
  font-family: var(--main-font);
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 auto;
  width: calc(85% - 10px);
  border: 3px solid black;
  border-radius: 10px;
  background-color: var(--third-color);
  color: black;
}

.pokeCard {
  /* flex: 1 1 20%; */
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid var(--fourth-color);
  /* background-color: thistle; */
  border-radius: 10%;
  margin: 5px;
  height: 150px;
  width: 150px;
}

.pokeCard > p {
  margin: 0 auto;
}

.pokeCard:hover {
  border: 3px solid royalblue;
  cursor: pointer;
}

.normal {
  background-color: #f6eac2;
}
.fire {
  background-color: #ff968a;
}
.fighting {
  background-color: #d4a094;
}
.water {
  background-color: #a2e1db;
}
.flying {
  background-color: #bcaaf3;
}
.grass {
  background-color: #ddf5c2;
}
.poison {
  background-color: #c770c7;
}
.electric {
  background-color: #ffe677;
}
.ground {
  background-color: #f7d67c;
}
.psychic {
  background-color: #ff7aa2;
}
.rock {
  background-color: #beac59;
}
.ice {
  background-color: #98d8d8;
}
.bug {
  background-color: #b6c440;
}
.dragon {
  background-color: #8b5bfc;
}
.ghost {
  background-color: #8169a8;
}
.dark {
  background-color: #63544b;
}
.steel {
  background-color: #c5c5dd;
}
.fairy {
  background-color: #f5b3c2;
}

.sprite {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto;
}

.artwork {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  border: 3px solid black;
}

.pokeDesc {
  text-align: center;
}

.pokeName {
  text-transform: capitalize;
}
.pokeData {
  text-transform: capitalize;
}

footer {
  flex-basis: 10vh;
  background-color: var(--main-bg-color);
  border-top: 5px solid var(--fourth-color);
  margin: 0;
  text-align: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  align-self: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #616161;
  border-color: #3b4cca transparent #3b4cca transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
