@font-face {
  font-family: "pokeFont";
  src: url("/styles/fonts/Pokemon_Solid.ttf");
}

@font-face {
  font-family: "pixel7";
  src: url("/styles/fonts/advanced_pixel-7.ttf");
}

body {
  margin: 0 auto;
  background-color: whitesmoke;
}

.container {
  margin: auto;
  width: 85%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: #3b4cca;
  flex: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}

#pokeLogo {
  color: #ffde00;
  font-family: "pokeFont";
  flex: 1 1 31%;
  text-align: center;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

#pokeRegions {
  flex: 1 1 61%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "pixel7";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.pokeRegi {
  flex: 1 1 21%;
  height: 50%;
  text-align: center;
}

.pokeRegi:hover{
    background-color: #cc0000;
    color: #ffde00;
    font-weight: bolder;

}

#pokedex {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}

#pokeBox {
  flex: 1 1 61%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding: 5px;
}

#pokeDescription {
  flex: 1 1 31%;
  height: 100%;
  background-color: #ffde00;
}

.pokeCard {
  flex: 1 1 30%;
  font-family: "pixel7";
  font-size: 1.3rem;
  font-weight: bold;
  border: 3px solid black;
  /* background-color: thistle; */
  border-radius: 10%;
  margin: 5px;
}

.pokeCard:hover {
  /* background-color: #5d6ce4; */
  border: 3px solid royalblue;
}

.normal{
  background-color: #a8a878;
}
.fire{
  background-color: #f08030;
}
.fighting{
  background-color: #c03028;
}
.water{
  background-color: #6890f0;
}
.flying{
  background-color: #a890f0;
}
.grass{
  background-color: #78c850;
}
.poison{
  background-color: #a040a0;
}
.electric{
  background-color: #f8d030;
}
.ground{
  background-color: #e0c068;
}
.psychic{
  background-color: #f85888;
}
.rock{
  background-color: #b8a038;
}
.ice{
  background-color: #98d8d8;
}
.bug{
  background-color: #a8b820;
}
.dragon{
  background-color: #7038f8;
}
.ghost{
  background-color: #705898;
}
.dark{
  background-color: #705848;
}
.steel{
  background-color: #b8b8d0;
}
.fairy{
  background-color: #ee99ac;
}


.sprite {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto;
}

.pokeDesc {
  text-align: center;
}

.pokeName {
  text-transform: capitalize;
}

.footer {
  flex: 100%;
  height: 10%;
  background-color: #3b4cca;
  margin: 0;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3b4cca;
  border-color: #3b4cca transparent #3b4cca transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
