@font-face {
  font-family: "pokeFont";
  src: url("fonts/Pokemon_Solid.ttf");
}

@font-face {
  font-family: "pixel7";
  src: url("fonts/advanced_pixel-7.ttf");
}

body {
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 85%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: #cc0000;
  flex: 100%;
  height: calc(20% - 6px);
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 3px solid black;
}

#pokeLogo {
  color: #ffde00;
  font-family: "pokeFont";
  flex: 1 1 31%;
  text-align: center;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

#pokeRegions {
  flex: 1 1 61%;
  display: flex;
  flex-wrap: wrap;
  font-family: "pixel7";
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px;
}

.pokeRegion {
  flex: 1 1 21%;
  /*height: 50%;*/
  text-align: center;
  margin: 3px;
  border-radius: 15px;
  border: 3px solid transparent;
}

.pokeRegion:hover {
  background-color: #0065a2;
  color: #ffde00;
  font-weight: bolder;
  border: 3px solid rgb(34, 31, 31);
}

.selectedRegion {
  background-color: #0065a2;
  color: #ffde00;
  font-weight: bolder;
  border: 3px solid black;
}

#pokedex {
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
}

#pokeBox {
  flex: 1 1 61%;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 20px);
  margin-left: 5px;
  overflow: auto;
  border-radius: 15px;
  border: 5px solid black;
  /* background-color: #ff5768; */
  background-color: #cc0000;
  padding: 5px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#pokeBox::-webkit-scrollbar {
  display: none;
}

#pokeDescription {
  flex: 1 1 31%;
  height: calc(100% - 10px);
  background-color: #cc0000;
  border-radius: 15px;
  border: 5px solid black;
}

.description > p {
  margin: 0 auto;
}

.description {
  font-family: "pixel7";
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin:0 auto;
  margin-top: 10px;
  width: calc(85% - 10px);
  border: 3px solid black;
  border-radius: 10px;
  background-color: #3b4cca;
  color: #ffde00;
}

.pokeCard {
  flex: 1 1 20%;
  font-family: "pixel7";
  font-size: 1.4rem;
  font-weight: bold;
  border: 3px solid black;
  /* background-color: thistle; */
  border-radius: 10%;
  margin: 5px;
  /* height: 200px; */
}

.pokeCard > p {
  margin: 0 auto;
}

.pokeCard:hover {
  border: 3px solid royalblue;
}

/* Background colors for each type*/
.normal {
  /* background-color: #a8a878; */
  background-color: #f6eac2;
}
.fire {
  /* background-color: #f08030; */
  background-color: #ff968a;
}
.fighting {
  /* background-color: #c03028; */
  background-color: #d4a094;
}
.water {
  /* background-color: #6890f0; */
  background-color: #a2e1db;
}
.flying {
  /* background-color: #a890f0; */
  background-color: #bcaaf3;
}
.grass {
  /* background-color: #78c850; */
  background-color: #ddf5c2;
}
.poison {
  /* background-color: #a040a0; */
  background-color: #c770c7;
}
.electric {
  /* background-color: #f8d030; */
  background-color: #ffe677;
}
.ground {
  /* background-color: #e0c068; */
  background-color: #f7d67c;
}
.psychic {
  /* background-color: #f85888; */
  background-color: #ff7aa2;
}
.rock {
  /* background-color: #b8a038; */
  background-color: #beac59;
}
.ice {
  /* background-color: #98d8d8; */
  background-color: #98d8d8;
}
.bug {
  /* background-color: #a8b820; */
  background-color: #b6c440;
}
.dragon {
  /* background-color: #7038f8; */
  background-color: #8b5bfc;
}
.ghost {
  /* background-color: #705898; */
  background-color: #8169a8;
}
.dark {
  /* background-color: #705848; */
  background-color: #63544b;
}
.steel {
  /* background-color: #b8b8d0; */
  background-color: #c5c5dd;
}
.fairy {
  /* background-color: #ee99ac; */
  background-color: #f5b3c2;
}

.sprite {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0 auto;
}

.artwork {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
  border: 3px solid black;
}

.pokeDesc {
  text-align: center;
}

.pokeName {
  text-transform: capitalize;
}
.pokeData {
  text-transform: capitalize;
}

.footer {
  flex: 100%;
  height: calc(10% -15px);
  margin-top: 5px;
  /* background-color: #ff5768; */
  background-color: #cc0000;
  border: 5px solid black;
  border-radius: 15px;
  margin: 0;
  text-align: center;
  font-family: "pixel7";
  font-size: 2rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  align-self: center;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3b4cca;
  border-color: #3b4cca transparent #3b4cca transparent;
  animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
